<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="StarlingDBFConverter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <StarlingDBFConverter.Properties.Settings>
            <setting name="logTagFixing" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="tagCollection" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>\B</string>
                        <string>\b</string>
                        <string>\B</string>
                        <string>\b</string>
                        <string>\I</string>
                        <string>\i</string>
                        <string>\I</string>
                        <string>\i</string>
                        <string>\U</string>
                        <string>\u</string>
                        <string>\U</string>
                        <string>\u</string>
                        <string>\H</string>
                        <string>\h</string>
                        <string>\H</string>
                        <string>\h</string>
                        <string>\L</string>
                        <string>\l</string>
                        <string>\L</string>
                        <string>\l</string>
                        <string>\C</string>
                        <string>\c</string>
                        <string>\C</string>
                        <string>\c</string>
                        <string>\X</string>
                        <string>\x</string>
                        <string>\X</string>
                        <string>\x</string>
                    </ArrayOfString>
                </value>
            </setting>
        </StarlingDBFConverter.Properties.Settings>
    </userSettings>
</configuration>